body {
  background-color: #CCFFFF;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover {
  text-decoration: none;
  color: black;
}
img {
  border-radius: 10px;
}
.main-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sp {
  text-align: center;
}
